In [107]:
import pandas as pd # 引入 pandas库

一个Series代表一个DataFrame的一列；更一般地说，它可以是任何一维的类数组对象。它同时包含：  
- 相同类型的值的序列。  
- 称为索引的数据标签序列。

In [108]:
s = pd.Series(['glm', 'golitter', 'kerwin', '田乐蒙'])
print(s)
# 索引
print(s.index)
# 值
print(s.values)

0         glm
1    golitter
2      kerwin
3         田乐蒙
dtype: object
RangeIndex(start=0, stop=4, step=1)
['glm' 'golitter' 'kerwin' '田乐蒙']

使用`pd.Series([...], index=[...])`传递自定义索引

In [109]:
s = pd.Series(['glm', 'golitter', 'kerwin', '田乐蒙'], index=['a', 'b', 'c', 'd'])
print(s)
print(s.index)
# 改变索引
s.index = ['first', 'second', 'third', 'fourth']
print("改变后的Series")
print(s)

a         glm
b    golitter
c      kerwin
d         田乐蒙
dtype: object
Index(['a', 'b', 'c', 'd'], dtype='object')
改变后的Series
first          glm
second    golitter
third       kerwin
fourth         田乐蒙
dtype: object

可以从Series中选择单个值或一组值。要做到这一点，有三种主要方法：
- 一个标签。
- 标签列表。
- 过滤条件。

In [110]:
s = pd.Series([4, -2, 0, 6], index = ['a', 'b', 'c', 'd'])
# 一个标签
print("一个标签：")
print(s['a'])
# 多个标签
print("\n多个标签：")
print(s[['a', 'c']]) # 注意这里是两个中括号
# 切片
print("\n切片：")
print(s['b':'d']) # 注意这里是中括号

print("如果DataFrame对象内传递的列表只有一个值时，将返回一个Series对象。")
print(s[['b']])

一个标签：
4

多个标签：
a    4
c    0
dtype: int64

切片：
b   -2
c    0
d    6
dtype: int64
如果DataFrame对象内传递的列表只有一个值时，将返回一个Series对象。
b   -2
dtype: int64

In [111]:
print("\n\n 过滤")
### 过滤
    # 首先，我们对Series应用布尔运算（向量操作）。这将创建一个新的 布尔值系列。 s > 0
print(s > 0)
    # 然后，我们将此布尔值系列传递给原始系列，以获取仅包含True的行。
print("\n过滤后的Series")
print(s[s > 0])

print(s)
even = s[s % 2 == 0] # 取出偶数
print("\n偶数")
print(even)

 过滤
a     True
b    False
c    False
d     True
dtype: bool

过滤后的Series
a    4
d    6
dtype: int64
a    4
b   -2
c    0
d    6
dtype: int64

偶数
a    4
b   -2
c    0
d    6
dtype: int64

通常，我们将使用将Series视为DataFrame中的列的透视图来处理它们。我们可以把**DataFrame看作是一个系列的集合，这些系列都共享相同的索引。**   
有许多方法可以创建DataFrame。在这里，我们将介绍最流行的方法：  
- 从CSV文件。
- 使用列表和列名。
- 从字典里查。
- 从一个系列。

# 从CSV文件

In [112]:
# 从 csv 文件中读取数据
elections = pd.read_csv('data/elections.csv')
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

Year 列将被用作索引列（而不是普通列）

In [113]:
elections = pd.read_csv('data/elections.csv', index_col='Year')
elections

              Candidate                  Party  Popular vote Result          %
Year
1824     Andrew Jackson  Democratic-Republican        151271   loss  57.210122
1824  John Quincy Adams  Democratic-Republican        113142    win  42.789878
1828     Andrew Jackson             Democratic        642806    win  56.203927
1828  John Quincy Adams    National Republican        500897   loss  43.796073
1832     Andrew Jackson             Democratic        702735    win  54.574789
...                 ...                    ...           ...    ...        ...
2016         Jill Stein                  Green       1457226   loss   1.073699
2020       Joseph Biden             Democratic      81268924    win  51.311515
2020       Donald Trump             Republican      74216154   loss  46.858542
2020       Jo Jorgensen            Libertarian       1865724   loss   1.177979
2020     Howard Hawkins                  Green        405035   loss   0.255731

[182 rows x 5 columns]

使用`reset_index()`，重新设置索引

In [114]:
# 将 Year 列设置为普通列
elections.reset_index(inplace=True) # inplace=True 下，会直接修改 elections DataFrame，而不会创建一个新的对象。
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

使用`set_index()`设置索引列

In [115]:
elections.set_index('Party')

                       Year          Candidate  Popular vote Result          %
Party
Democratic-Republican  1824     Andrew Jackson        151271   loss  57.210122
Democratic-Republican  1824  John Quincy Adams        113142    win  42.789878
Democratic             1828     Andrew Jackson        642806    win  56.203927
National Republican    1828  John Quincy Adams        500897   loss  43.796073
Democratic             1832     Andrew Jackson        702735    win  54.574789
...                     ...                ...           ...    ...        ...
Green                  2016         Jill Stein       1457226   loss   1.073699
Democratic             2020       Joseph Biden      81268924    win  51.311515
Republican             2020       Donald Trump      74216154   loss  46.858542
Libertarian            2020       Jo Jorgensen       1865724   loss   1.177979
Green                  2020     Howard Hawkins        405035   loss   0.255731

[182 rows x 5 columns]

# 使用列表和列名

In [116]:
# 一个列
pd.DataFrame([1,2,3], columns=['column_name'])

   column_name
0            1
1            2
2            3

In [117]:
# 多个列
pd.DataFrame([
    [1, 'glm'],
    [2, 'golitter'],
    [3, 'kerwin']
], columns=['id', 'name'])

   id      name
0   1       glm
1   2  golitter
2   3    kerwin

# 从字典里查

In [118]:
pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['glm', 'golitter', 'kerwin']
})

   id      name
0   1       glm
1   2  golitter
2   3    kerwin

# 从一个系列

In [119]:
s_a = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s_b = pd.Series([4, 5, 6], index=['a', 'b', 'c'])
pd.DataFrame({
    'A': s_a,
    'B': s_b
})

   A  B
a  1  4
b  2  5
c  3  6

In [120]:
s_a.to_frame() # pd.DataFrame(s_a)

   0
a  1
b  2
c  3

索引不必是数值型，不必唯一；可以设置某列作为索引，也可以恢复默认列。

属性：Index, Columns, and Shape

In [121]:
elections.set_index("Party", inplace = True)
elections.index

Index(['Democratic-Republican', 'Democratic-Republican', 'Democratic',
       'National Republican', 'Democratic', 'National Republican',
       'Anti-Masonic', 'Whig', 'Democratic', 'Whig',
       ...
       'Constitution', 'Republican', 'Independent', 'Libertarian',
       'Democratic', 'Green', 'Democratic', 'Republican', 'Libertarian',
       'Green'],
      dtype='object', name='Party', length=182)

In [122]:
elections.columns

Index(['Year', 'Candidate', 'Popular vote', 'Result', '%'], dtype='object')

对于DataFrame的形状，我们可以使用DataFrame。Shape以获得行数后跟列数：x

In [123]:
elections.shape

(182, 5)

In [124]:
elections.reset_index(inplace = True)
elections

,Party,Year,Candidate,Popular vote,Result,%
0,Democratic-Republican,1824,Andrew Jackson,151271,loss,57.210122
1,Democratic-Republican,1824,John Quincy Adams,113142,win,42.789878
2,Democratic,1828,Andrew Jackson,642806,win,56.203927
3,National Republican,1828,John Quincy Adams,500897,loss,43.796073
4,Democratic,1832,Andrew Jackson,702735,win,54.574789
...,...,...,...,...,...,...
177,Green,2016,Jill Stein,1457226,loss,1.073699
178,Democratic,2020,Joseph Biden,81268924,win,51.311515
179,Republican,2020,Donald Trump,74216154,loss,46.858542
180,Libertarian,2020,Jo Jorgensen,1865724,loss,1.177979
181,Green,2020,Howard Hawkins,405035,loss,0.255731

操作DataFrame的最简单方法是提取行和列的子集，称为切片。
我们可能想要提取数据的常见方法是抓取：
- DataFrame中的前n行或最后n行。
- 带有特定标签的数据。
- 某一位置的数据。

In [72]:
df = pd.read_csv('data/elections.csv')
# df.head()
# df.head(3)
df.tail(3)

     Year       Candidate        Party  Popular vote Result          %
179  2020    Donald Trump   Republican      74216154   loss  46.858542
180  2020    Jo Jorgensen  Libertarian       1865724   loss   1.177979
181  2020  Howard Hawkins        Green        405035   loss   0.255731

## 带有特定标签的数据
对于更复杂的任务，即提取具有特定列或索引标签的数据，我们可以使用.loc。loc访问器允许我们指定希望提取的行和列的标签。标签（通常称为索引）是位于DataFrame最左边的粗体文本，而列标签是位于DataFrame顶部的列名。  
<span center> `df.loc[row_labels, column_labels]`  </span>

![](https://ds100.org/course-notes/pandas_1/images/locgraphic.png)

.loc的参数可以是：
- 单个值。
- slice。
- 一个列表。

In [125]:
# 一个列表
elections.loc[ [87,25, 179], ['Year', 'Candidate', 'Result']]

     Year             Candidate Result
87   1932        Herbert Hoover   loss
25   1860  John C. Breckinridge   loss
179  2020          Donald Trump   loss

In [128]:
# slice
elections.loc[[87, 25, 179], 'Year':'Result']

     Year             Candidate  Popular vote Result
87   1932        Herbert Hoover      15761254   loss
25   1860  John C. Breckinridge        848019   loss
179  2020          Donald Trump      74216154   loss

In [ ]:
elections.loc[[87,25, 179], 'Popular vote']
# 返回的是 Series类型

87     15761254
25       848019
179    74216154
Name: Popular vote, dtype: int64

iloc 是 Pandas 中用于基于整数位置（index location）来选择数据的功能。与基于标签的 loc 不同，iloc 按照数值索引来选择行或列。   
`df.iloc[row_integers, column_integers]`
> Python中，下标从0开始

In [132]:
# 列表
elections.iloc[[1,2,3], [1,2,3]]

   Year          Candidate  Popular vote
1  1824  John Quincy Adams        113142
2  1828     Andrew Jackson        642806
3  1828  John Quincy Adams        500897

In [133]:
# slice
elections.iloc[ [1,2,3],1:3]

   Year          Candidate
1  1824  John Quincy Adams
2  1828     Andrew Jackson
3  1828  John Quincy Adams

In [139]:
# 一个值
elections.iloc[ [1,2,3], [1]]

   Year
1  1824
2  1828
3  1828

- loc：基于标签提取
- iloc: 基于基数提取